extends ../layout.pug
block title 
    title Portal Cartera Empresas | Compensar caja de compensación
block content
    div(class="row")
        div(class="col-md-12 title__box")
            h1 Bienvenido
            p Encuentre sus estados de cuenta y toda la información de sus créditos
    div(class="row")
        div(class="col-md-12 userdata__box")
            include ../components/userdata-card.pug
    div(class="row")
        div(class="col-md-12 acciones__box")
            include ../components/acciones-rapidas.pug
    div(class="row")
        div(class="col-md-12 acciones__box")
            include ../components/estadoscuenta.pug