doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/main.css")
        block title
    body
        div(class="container-fluid")
        include components/header.pug
        div(class="container-fluid")
            div(class="row row-no-padding")
                div(id="content-side" class="col-md-12 col-lg-3 col-xxl-2")
                    include components/sidebar.pug
                div(class="col-md-12 col-lg-9 col-xxl-10" id="content")
                    div(class="container-fluid p-4")
                        main
                            block content
    script(src="./js/main.js") 