div(class="row py-4")
    div(class="col-md-12 col-lg-12 col-xl-12 col-xxl-8")
        h2(class="subtitle__card") Acciones rápidas
        div(class="card__style acciones_rapidas")
            a(href="" class="btn btn-orange") Realizar liquidación 
            a(href="" class="btn btn-orange") Estados cuenta anteriores
            a(href="" class="btn btn-orange") Certificaciones