div(class="row py-4")
    div(class="col-md-12 col-lg-12 col-xl-12 col-xxl-8")
        h2(class="subtitle__card") Estados de cuenta por pagar
        div(class="card__general scrollbar card__style--data")
            div(class="general__data--main")
                div(class="table__row head-table")
                    div(class="table__data") Tipo
                    div(class="table__data") Referencia
                    div(class="table__data") # Creditos
                    div(class="table__data") Fecha de corte
                    div(class="table__data") Fecha limite de pago
                    div(class="table__data") Valor cuota mes
                    div(class="table__data") Valor total vencido
                    div(class="table__data") Valor a pagar
                div(class="table__row data-table")
                    div(class="table__data") 
                        div(class="data-type") 
                            p G
                    div(class="table__data") 0000000000
                    div(class="table__data") 1000
                    div(class="table__data") 10/08/2022
                    div(class="table__data") 25/08/2022
                    div(class="table__data") $ 5.000.000
                    div(class="table__data") $ 1.000.000
                    div(class="table__data") $ 6.000.000
            div(class="general__data--foo")
                div(class="foo__date")
                    p Septiembre de 2022
                div(class="foo__buttons")
                    a(href="" class="btn btn-card") 
                        img(src="./images/money.svg", alt="")
                        | Pagar
                    a(href="" class="btn btn-card")
                        img(src="./images/edit.svg", alt="")
                        | Editar
                    a(href="" class="btn btn-card")
                        img(src="./images/download.svg", alt="")
                        | Descargar