div(class="row py-4")
    div(class="col-md-12 col-lg-12 col-xl-12 col-xxl-8")
        h2(class="subtitle__card") Estados de cuenta por pagar
        div(class="card__style estados_cuenta")
            p Señor usuario, no tiene estados de cuenta generados