header(class="header")
    nav(class="nav__container")
        div(class="nav__burguer d-lg-none")
            span(id="btn-burguer" class="burguer__btn" role="button" aria-label="Botón menú")
                img(width="20" height="22" src="./images/burguerMenu.svg" aria-hidden="true")
        div(class="nav__logo")
            img(class="", src="./images/LogoCompensar.svg", alt="Logo, Compensar")
        div(class="nav__button")
            include ./loginbutton.pug
