nav(class="sidebar" id="sidebar")
    ul(class="sidebar__list")
        li(class="sidebar__item")
            a(href="./") 
                img(src="./images/inicio.svg", alt="")
                | Inicio
        li(class="sidebar__item")
            a(href="./pagos.html") 
                img(src="./images/pagos.svg", alt="")
                | Pagos
        li(class="sidebar__item")
            a(href="#") 
                img(src="./images/estado-cuenta.svg", alt="")
                | Estados de cuenta
        li(class="sidebar__item")
            a(href="./liquidacion-individual") 
                | Liquidación individual
        li(class="sidebar__item")
            a(href="./liquidacion-archivo") 
                | Liquidación por archivo
        li(class="sidebar__item")
            a(href="./certificaciones") 
                img(src="./images/certificaciones.svg", alt="")
                | Certificaciones