div(class="row")
    div(class="col-md-12 col-lg-12 col-xl-12 col-xxl-8")
        div(class="userdata__card card__style")
            div(class="userdata__user")
                h2 Carlos Antonio Trujillo
                p CC 78.654.456
            div(class="userdata__empresa")
                h2 Compensar Caja de Compensación
                p NIT 80065467-1
            div(class="userdata__dependencia")
                h2 Dependencia
                p Nombre de la dependencia
